<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or Reporting">
        <pipelines>
            <group groupName="ExperienceProfileContactViews">
                <pipelines>
                    <goals>
                        <processor type="Sitecore.Cintel.Reporting.Contact.Goal.Processors.PopulateGoalsWithXdbData, Sitecore.Cintel">
                            <patch:attribute name="type">Sitecore.Support.Cintel.Reporting.Contact.Goal.Processors.PopulateGoalsWithXdbData, Sitecore.Support.334063</patch:attribute>
                        </processor>
                        <processor type="Sitecore.Cintel.Reporting.Contact.Goal.Processors.ApplyMasterDataToGoals, Sitecore.Cintel">
                            <patch:attribute name="type">Sitecore.Support.Cintel.Reporting.Contact.Goal.Processors.ApplyMasterDataToGoals, Sitecore.Support.334063</patch:attribute>
                        </processor>
                    </goals>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>